.footer__header {
  margin: 0;
  color: white;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  background-color: cornflowerblue;
  font-family: "VT323", monospace;
}
